include includes/head
body
    .content-wrapper
        .head-wrapper
            include includes/header
            include includes/nav

        - var pageName = 'Общая информация'

        - var brlist = ['Zamon Group', 'Услуги и решения', pageName]
        include includes/breadcrumbs

        .container
            h1 Группа компаний (H1)
            .two-cols.to-right
                aside
                    - var staticPagesItems = ['Общая информация', 'Состав группы', 'Миссия', 'Ключевые преимущества']

                    ul.static-pages-menu
                        each item in staticPagesItems
                            if item == pageName
                                li.active: a(href="#")= item
                            else
                                li: a(href="#")= item
                    include includes/aside_news
                article
                    - var staticPageData = {name: 'Общая информация (H2)', img: 'img-1.jpg'}
                    include includes/static_page_article

    include includes/footer
