- var style = 'main'
include includes/head
body
    include includes/header
    include includes/nav

    - var pageName = 'Инспекция'

    - var brlist = ['Zamon Group', 'Услуги и решения', pageName]
    include includes/breadcrumbs

    .container
        h1 Услуги и решения
        .two-cols
            aside
                include includes/aside_menu
                h3 Новости
                .aside-news
                    img(src="photos/news-block-preview.jpg")

                    - var newsList = [{headline: 'Заголовок-ссылка последней публикации в разделе новостей из соответствующей рубрики', date: '10 марта, 2015 г.'}, {headline: 'Корни уходят в один фрагмент классической латыни 45 года, более двух тысячелетий', date: '9 марта, 2015 г.'}, {headline: 'Получил много версий. Некоторые версии появились по ошибке, некоторые, намеренно', date: '8 марта, 2015 г'}, ]

                    ul
                        each newsData in newsList
                            li
                                p: a(href="#")= newsData.headline
                                span= newsData.date
                    .more: a(href="#") Все новости
            article
                h2 Инспекция
                p Lorem Ipsum — это текст-рыба, часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн.
                img(src="photos/img-2.jpg", width="900" height="470")
                h3 Заголовок между абзацем (H3)
                p В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
                ul
                    li Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации.
                    li Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент классической латыни 45 года н.э., то есть более двух тысячелетий назад.
                    li Ричард МакКлинток, профессор латыни из колледжа Hampden-Sydney, штат Вирджиния, взял одно из самых странных слов в Lorem Ipsum, "consectetur", и занялся его поисками в классической латинской литературе.
                p Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).
                a.print(href="#") Распечатать страницу

    .slider-wrapper
        .tiles.slider
            h1 Смотрите также
            span.prev.disabled
            span.next
            ul
                each point in [{img: 'services-logistic.jpg', name: 'Логистика'}, {img: 'services-inspection.jpg', name: 'Инспекция'}, {img: 'services-quality-control.jpg', name: 'Контроль качества'}, {img: 'services-consulting.jpg', name: 'Консалтинг'}, {img: 'services-software-solutions.jpg', name: 'Программные решения'}, {img: 'services-special-offers.jpg', name: 'Специальные предложения'}]
                    li.tiles
                        .img: img(src="images/#{point.img}")
                        strong #{point.name}
                        span Название компании-подразделения
                        a(href="#") Перейти к разделу

    include includes/footer
