include includes/head
body
    .content-wrapper
        .head-wrapper
            include includes/header
            include includes/nav

        - var pageName = 'Хлопок из Республики Узбекистан'

        - var brlist = ['Zamon Group', 'Услуги и решения', pageName]
        include includes/breadcrumbs

        .container
            h1 Услуги и решения
            .two-cols
                aside
                    include includes/aside_menu
                    include includes/aside_news
                article
                    -
                        var staticPageData = {name: 'Инспекция', img: 'img-2.jpg'},
                            but = true
                    include includes/static_page_article
                    .quote-wrapper
                        .headline
                            h3 Котировки сырьевых рынков в реальном времени
                            small
                             != 'Цены на сырьевые товары от <a href="#">Investing.com</a>'
                        .quote-block
                            img(src="photos/quote.jpg")

        .special-offer
            h1 Другие специальные предложения
            - var cottons = ['Хлопок из Узбекистна', 'Хлопок из Индии', 'Хлопок из США', 'Хлопок из Пакистана']
            include includes/round_image_list

        .slider-wrapper
            .tiles.slider
                h1 Смотрите также
                span.prev.disabled
                span.next
                ul
                    each point in [{img: 'services-logistic.jpg', name: 'Логистика'}, {img: 'services-inspection.jpg', name: 'Инспекция'}, {img: 'services-quality-control.jpg', name: 'Контроль качества'}, {img: 'services-consulting.jpg', name: 'Консалтинг'}, {img: 'services-software-solutions.jpg', name: 'Программные решения'}, {img: 'services-special-offers.jpg', name: 'Специальные предложения'}]
                        li.tiles
                            a(href="")
                                .img: img(src="images/#{point.img}")
                                strong #{point.name}
                                span.name Название компании-подразделения
                                span.link Перейти к разделу

    include includes/footer
