mixin pyramid()
    .side.side1
    .side.side2
    .side.side3
    .side.side4
    .square

include includes/head
body
    .logo-wrapper
        .shape-wrapper
            .triangle.t1
                +pyramid()

            .triangle.t2
                +pyramid()

            .triangle.t3
                +pyramid()

