mixin pyramid()
    .side.side1
    .side.side2
    .side.side3
    .side.side4
    .square

include includes/head
body
    .piruet

    .logo-wrapper
        .shape-wrapper
            // i
            .triangle.t1
                +pyramid()

            .triangle.t2
                +pyramid()

            .triangle.t3
                +pyramid()

            .triangle.t4
                +pyramid()

            .triangle.v1
                +pyramid()

            // v
            .triangle.v2
                +pyramid()

            .triangle.v3
                +pyramid()

            .triangle.v4
                +pyramid()

            .triangle.v5
                +pyramid()

            .triangle.v6
                +pyramid()

            .triangle.v7
                +pyramid()

            //i
            .triangle.i1
                +pyramid()

            .triangle.i2
                +pyramid()

            .triangle.i3
                +pyramid()

            .triangle.i4
                +pyramid()

