.main {
    header {
        width: 100%;
        background: #fff;
        z-index: 10;

        .header-wrapper {
            position: relative;
            width: @content-width;
            margin: 0 auto;
        }
    }

    nav {
        z-index: 9;
    }

    footer {
        position: relative;
        top: 100%;
        margin-top: 0;
    }
        .head-wrapper {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            opacity: .8;
            transition: all .5s ease-out;
            z-index: 10;

            header,
            nav {


            }

            &:hover {
                opacity: 1;
            }
        }
}
