- var subSubMenu = [{name: 'Хлопок из Узбекистана'}, {name: 'Хлопок из Индии'}, {name: 'Хлопок из США'}, {name: 'Хлопок из Пакистана'}, {name: 'Хлопок из Китая'}, {name: 'Хлопок из Туркменистана'}, {name: 'Хлопок из Турции'}, {name: 'Хлопок из Нигерии'}]

- var subMenu = [{name: 'Хлопок', subMenu: subSubMenu}, {name: 'Пшеница'}, {name: 'Сахар', subMenu: subSubMenu}, {name: 'Соевое масло'}, {name: 'Соевые бобы'}, {name: 'Грубый рис'}, {name: 'Кукуруза'}, {name: 'Кофейные зерна'}, {name: 'Какао', subMenu: subSubMenu}]

- var menuList = [{name: 'Инспекция', subMenu: subMenu}, {name: 'Виды предоставляемых услуг'}, {name: 'Нормативные акты', subMenu: subMenu}, {name: 'Консультации по инспекции'}, {name: 'Лабораторные тесты'}]

mixin setMenu(itemData)
    if itemData.subMenu
        .item
            a(href="#")= itemData.name
            .sub-menu
                ul
                    each subMenuItem in itemData.subMenu
                        li: +setMenu(subMenuItem)
    else
        a(href="#")= itemData.name

ul.aside-menu
    each item in menuList
        if item.name == pageName
            li.active: +setMenu(item)
        else
            li: +setMenu(item)
