footer
    marquee.fast-news(scrollamount="10")
        ul
            each val in ['Стартап SwanLuv предлагает молодожёнам в США необычную услугу', 'Успешно осуществлена поставка промышленного оборудования по проекту «Бизнес Сегодня»', 'Когда льготы нашей бабушки-льготницы в очередной раз подрезали, я снова задумался об энергоэффективности квартиры.']
                li
                    a(href="#")= val
    div.footer-container
        div.copyright Copyright © Zamon Group
        ul.nav
            each val in ['Группа компаний', 'Услуги и решения', 'Пресс-центр', 'Партнерам', 'Карьера', 'Контактная информация']
                li
                    a(href="#")= val
