.round-image-list
    if (roundListHeadline)
        h2= pageName
    ul
        each cotton in cottons
            li
                img(src="images/services-special-offers.jpg")
                a(href="#")= cotton
                p Небольшое описание из одного или нескольких предложений, вкратце рассказывающее о преимуществе данного предложения.
