@import '__constants';
@import '__mixins';
@import '__reset';

html,
body {
    height: 100%;
}

body {
    width: 100%;
    font-family: Arial;
    background-color: #fff;
}

.logo-wrapper {
    padding: 100px;
}

.shape-wrapper {
    perspective: 1001px;

    .triangle {
        @red: fade(#ec174f, 20%);
        @triangle-size: 50px;
        @x-cord: 30deg;
        @z-cord: -18px;

        width: @triangle-size;
        height: @triangle-size;
        top: 0;
        left: 0;
        transform-style: preserve-3d;
        transform-origin: 50% 50% -(@triangle-size / 2);
        position: absolute;

        .side {
            position: absolute;
            top: 17%;
            left: 0;
            transform-origin: 50% 50% -(@triangle-size / 2);
            transform-style: preserve-3d;


            border: @triangle-size / 2 solid @red;
            border-bottom-width: @triangle-size;
            border-left-color: transparent;
            border-top-color: transparent;
            border-right-color: transparent;

            &.side1 {
                transform: rotateX(@x-cord) translateZ(@z-cord);
            }

            &.side2 {
                border-bottom-color: fade(black ,50%);
                transform: rotateY(90deg) rotateX(@x-cord) translateZ(@z-cord);
            }

            &.side3 {
                border-bottom-color: fade(blue ,50%);
                transform: rotateY(-90deg) rotateX(@x-cord) translateZ(@z-cord);
            }

            &.side4 {
                border-bottom-color: fade(yellow ,50%);
                transform: rotateY(180deg) rotateX(@x-cord) translateZ(@z-cord);
            }
        }

        .square {
            width: @triangle-size;
            height: @triangle-size;
            margin-top: @triangle-size / 2;
            background: @red;
            transform-origin: 50% 50% -(@triangle-size / 2);
            transform-style: preserve-3d;
            transform: rotateX(-90deg);
        }

        &.t1 {
            transform: rotateY(-77deg) rotateX(90deg) rotateZ(-10deg);
        }

        &.t2 {
            margin-top: -40px;
            transform: rotateY(-59deg) rotateX(-90deg) rotateZ(-10deg);
            transform-origin: 37% 170% -@triangle-size;
        }

        &.t3 {
            margin-top: 75px;
            transform: rotateY(-77deg) rotateX(90deg) rotateZ(-10deg);
        }
    }
}
