@import '__constants';
@import '__mixins';
@import '__reset';

@red: #ec174f;
@red2: #d51749;
@triangle-size: 100px;
@x-cord: 30deg;
@z-cord: -(@triangle-size / 100 * 36);

html,
body {
    height: 100%;
}

body {
    padding-top: 100px;
    padding-left: 100px;
    box-sizing: border-box;
    width: 100%;
    font-family: Arial;
    background: url(http://pattern4site.ru/images/fabric/_rebig/5-chernaya-tekstura-vorsistoy-tkani.png) 0 0 repeat;
    background-color: #fff;
    cursor: move;
}

.piruet {
    @icon-size: 75px;

    position: absolute;
    z-index: 100500;
    width: @icon-size;
    height: @icon-size;
    top: 50px;
    left: 50px;
    background: url(../v5RL8MZmzhs.jpg) 0 0 no-repeat;
    background-size: @icon-size auto;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #ccc;

    &::before {
        position: absolute;
        content: 'кликабельно';
        font-size: 13px;
        color: #ccc;
        top: -18px;
    }
}

.logo-wrapper {
    height: 100%;
    perspective: 1000px;
}

.shape-wrapper {
    position: absolute;
    width: 600px;
    height: 400px;
    left: 50%;
    top: 50%;
    margin-top: -(150px + @triangle-size);
    margin-left: -(250px + @triangle-size);
    transform-style: preserve-3d;
    transform-origin: 70% 50%;

    &.clicked {
        transition: all 2s ease;
    }

    .triangle {
        width: @triangle-size;
        height: @triangle-size;
        top: 0;
        left: 0;
        transform-style: preserve-3d;
        transform-origin: 50% 50% -(@triangle-size / 2);
        transition: all .6s ease;
        opacity: 0.5;
        position: absolute;

        .side {
            position: absolute;
            top: 17%;
            left: 0;
            transform-origin: 50% 50% -(@triangle-size / 2);
            transform-style: preserve-3d;


            border: (@triangle-size / 2) solid @red;
            border-bottom-width: @triangle-size;
            border-left-color: transparent;
            border-top-color: transparent;
            border-right-color: transparent;

            &.side1 {
                transform: rotateX(@x-cord) translateZ(@z-cord);
            }

            &.side2 {
                border-bottom-color: @red2;
                transform: rotateY(90deg) rotateX(@x-cord) translateZ(@z-cord);
            }

            &.side3 {
                transform: rotateY(-90deg) rotateX(@x-cord) translateZ(@z-cord);
            }

            &.side4 {
                border-bottom-color: @red2;
                transform: rotateY(180deg) rotateX(@x-cord) translateZ(@z-cord);
            }
        }

        .square {
            width: @triangle-size;
            height: @triangle-size;
            margin-top: @triangle-size / 2;
            background: @red;
            transform-origin: 50% 50% -(@triangle-size / 2);
            transform-style: preserve-3d;
            transform: rotateX(-90deg);
        }

        &.t1 {
            transform: rotateY(-100deg) rotateX(90deg) rotateZ(-10deg);
        }

        &.t2 {
            top: @triangle-size + (@triangle-size / 2);
            transform: rotateY(-100deg) rotateX(90deg) rotateZ(-10deg);
        }

        &.t3 {
            top: (@triangle-size * 2) + (@triangle-size / 4);
            left: -(@triangle-size + @triangle-size / 6);
            transform: rotateY(-76deg) rotateX(-90deg) rotateZ(-14deg) translateZ(-50px) translateX(-10.667px) translateZ(50px);
        }

        &.t4 {
            top: (@triangle-size * 3);
            transform: rotateY(-100deg) rotateX(90deg) rotateZ(-10deg);
        }

        &.v1 {
            top: @triangle-size * 2;
            left: @triangle-size;
            transform: rotateY(-90deg) rotateX(180deg) rotateZ(0);
        }

        &.v2 {
            top: @triangle-size + (@triangle-size / 10);
            left: @triangle-size * 2 - (@triangle-size / 3);
        }

        &.v3 {

            top: @triangle-size * 3 + (@triangle-size / 3);
            left: @triangle-size * 2 - (@triangle-size / 3);
            transform: rotateY(-90deg) rotateX(180deg) rotateZ(0deg);
        }

        &.v4 {
            top: @triangle-size * 2 + (@triangle-size / 3);
            left: @triangle-size * 2 + (@triangle-size / 4);
            transform: rotateZ(0deg) translateY(@triangle-size / 5);
        }

        &.v5 {
            top: @triangle-size + (@triangle-size / 10);
            left: @triangle-size * 3 - (@triangle-size / 6);
        }

        &.v6 {
            top: @triangle-size * 3 + (@triangle-size / 3);
            left: @triangle-size * 3 - (@triangle-size / 6);
            transform: rotateY(-90deg) rotateX(180deg) rotateZ(0deg);
        }

        &.v7 {
            top: @triangle-size * 2;
            left: @triangle-size * 3 + (@triangle-size / 2);
            transform: rotateY(-90deg) rotateX(180deg) rotateZ(0);
        }

        &.i1 {
            left: @triangle-size * 6 - (@triangle-size / 10);
            transform: rotateY(-100deg) rotateX(90deg) rotateZ(-10deg);
        }

        &.i2 {
            top: @triangle-size + (@triangle-size / 2);
            left: @triangle-size * 6 - (@triangle-size / 10);
            transform: rotateY(-100deg) rotateX(90deg) rotateZ(-10deg);
        }

        &.i3 {
            top: (@triangle-size * 2) + (@triangle-size / 4);
            left: @triangle-size * 5 - (@triangle-size / 3);
            transform: rotateY(-90deg) rotateX(-90deg) rotateZ(0);
        }

        &.i4 {
            top: (@triangle-size * 3);
            left: @triangle-size * 6 - (@triangle-size / 10);
            transform: rotateY(-100deg) rotateX(90deg) rotateZ(-10deg);
        }

    }
}

body {
    &:hover {
        .shape-wrapper {
            .triangle {
                opacity: .6;

                &:hover {
                    opacity: 1;
                }

                /*&.t1 {
                    transform: rotateY(283deg) rotateX(90deg) rotateZ(-10deg);
                }

                &.t2 {
                    transform: rotateY(-77deg) rotateX(-270deg) rotateZ(350deg);
                }

                &.t4 {
                    transform: rotateY(283deg) rotateX(-270deg) rotateZ(-10deg);
                }

                &.t3 {
                    transform: rotateY(-59deg) rotateX(270deg) rotateZ(350deg)
                }

                &.i1 {
                    transform: rotateY(-100deg) rotateX(-270deg) rotateZ(-10deg);
                }

                &.i2 {
                    transform: rotateY(260deg) rotateX(-270deg) rotateZ(-10deg);
                }

                &.i3 {
                    transform: rotateY(-90deg) rotateX(-90deg) rotateZ(-10deg);
                }

                &.i4 {
                    transform: rotateY(-100deg) rotateX(90deg) rotateZ(-10deg);
                }*/
            }
        }
    }
}
