html,
body {
  margin: 0;
  padding: 0;
  font-size: 100%;
}
header,
footer,
nav,
section,
article,
aside,
figure,
figcaption,
mark,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
br {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
cite {
  font-style: normal;
}
ol,
ul,
li {
  list-style: none;
}
body {
  line-height: 1;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
q:before,
blockquote:after,
q:after {
  content: '';
  content: none;
}
:focus {
  outline: 0;
}
a {
  color: inherit;
}
a img {
  border: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input[type='search'] {
  -webkit-appearance: none;
}
input[type='search']::-webkit-search-cancel-button {
  display: none;
}
input::-ms-clear {
  width: 0;
  height: 0;
  opacity: 0;
}
button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  width: auto;
  overflow: visible;
  text-align: center;
  white-space: nowrap;
}
button::-moz-focus-inner,
input[type='submit']::-moz-focus-inner,
input[type='reset']::-moz-focus-inner,
input[type='button']::-moz-focus-inner {
  border: 0;
  padding: 0;
}
meta {
  display: none !important;
}
html,
body {
  height: 100%;
}
body {
  width: 100%;
  font-family: Arial;
  background-color: #fff;
}
.logo-wrapper {
  padding: 100px;
}
.shape-wrapper {
  -webkit-perspective: 1001px;
          perspective: 1001px;
}
.shape-wrapper .triangle {
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50% -25px;
          transform-origin: 50% 50% -25px;
  position: absolute;
}
.shape-wrapper .triangle .side {
  position: absolute;
  top: 17%;
  left: 0;
  -webkit-transform-origin: 50% 50% -25px;
          transform-origin: 50% 50% -25px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  border: 25px solid rgba(236, 23, 79, 0.2);
  border-bottom-width: 50px;
  border-left-color: transparent;
  border-top-color: transparent;
  border-right-color: transparent;
}
.shape-wrapper .triangle .side.side1 {
  -webkit-transform: rotateX(30deg) translateZ(-18px);
          transform: rotateX(30deg) translateZ(-18px);
}
.shape-wrapper .triangle .side.side2 {
  border-bottom-color: rgba(0, 0, 0, 0.5);
  -webkit-transform: rotateY(90deg) rotateX(30deg) translateZ(-18px);
          transform: rotateY(90deg) rotateX(30deg) translateZ(-18px);
}
.shape-wrapper .triangle .side.side3 {
  border-bottom-color: rgba(0, 0, 255, 0.5);
  -webkit-transform: rotateY(-90deg) rotateX(30deg) translateZ(-18px);
          transform: rotateY(-90deg) rotateX(30deg) translateZ(-18px);
}
.shape-wrapper .triangle .side.side4 {
  border-bottom-color: rgba(255, 255, 0, 0.5);
  -webkit-transform: rotateY(180deg) rotateX(30deg) translateZ(-18px);
          transform: rotateY(180deg) rotateX(30deg) translateZ(-18px);
}
.shape-wrapper .triangle .square {
  width: 50px;
  height: 50px;
  margin-top: 25px;
  background: rgba(236, 23, 79, 0.2);
  -webkit-transform-origin: 50% 50% -25px;
          transform-origin: 50% 50% -25px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}
.shape-wrapper .triangle.t1 {
  -webkit-transform: rotateY(-77deg) rotateX(90deg) rotateZ(-10deg);
          transform: rotateY(-77deg) rotateX(90deg) rotateZ(-10deg);
}
.shape-wrapper .triangle.t2 {
  margin-top: -40px;
  -webkit-transform: rotateY(-59deg) rotateX(-90deg) rotateZ(-10deg);
          transform: rotateY(-59deg) rotateX(-90deg) rotateZ(-10deg);
  -webkit-transform-origin: 37% 170% -50px;
          transform-origin: 37% 170% -50px;
}
.shape-wrapper .triangle.t3 {
  margin-top: 75px;
  -webkit-transform: rotateY(-77deg) rotateX(90deg) rotateZ(-10deg);
          transform: rotateY(-77deg) rotateX(90deg) rotateZ(-10deg);
}
