@font-face {
  font-family: 'Gotham Pro';
  font-weight: normal;
  src: url(../fonts/Gotham_Pro_Regular.woff) format('woff'), url(../fonts/Gotham_Pro_Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Gotham Pro';
  font-weight: bold;
  src: url(../fonts/Gotham_Pro_Bold.woff) format('woff'), url(../fonts/Gotham_Pro_Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Gotham Pro';
  font-weight: 300;
  src: url(../fonts/Gotham_Pro_Light.woff) format('woff'), url(../fonts/Gotham_Pro_Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Gotham Pro';
  font-weight: 500;
  src: url(../fonts/Gotham_Pro_Medium.woff) format('woff'), url(../fonts/Gotham_Pro_Medium.ttf) format('truetype');
}
html,
body {
  margin: 0;
  padding: 0;
  font-size: 100%;
}
header,
footer,
nav,
section,
article,
aside,
figure,
figcaption,
mark,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
br {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
cite {
  font-style: normal;
}
ol,
ul,
li {
  list-style: none;
}
body {
  line-height: 1;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
q:before,
blockquote:after,
q:after {
  content: '';
  content: none;
}
:focus {
  outline: 0;
}
a {
  color: inherit;
}
a img {
  border: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input[type='search'] {
  -webkit-appearance: none;
}
input[type='search']::-webkit-search-cancel-button {
  display: none;
}
input::-ms-clear {
  width: 0;
  height: 0;
  opacity: 0;
}
button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  width: auto;
  overflow: visible;
  text-align: center;
  white-space: nowrap;
}
button::-moz-focus-inner,
input[type='submit']::-moz-focus-inner,
input[type='reset']::-moz-focus-inner,
input[type='button']::-moz-focus-inner {
  border: 0;
  padding: 0;
}
meta {
  display: none !important;
}
header {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  height: 110px;
}
header .logo {
  float: left;
  width: 470px;
  height: 70px;
  padding-top: 20px;
}
header .logo img {
  display: block;
}
header .logo + .language {
  margin-left: 35px;
}
header .language {
  float: left;
  padding-top: 37px;
  text-transform: uppercase;
}
header .language li {
  position: relative;
  font-size: 12px;
  line-height: 15px;
  float: left;
}
header .language li span {
  display: inline-block;
  box-sizing: border-box;
  width: 40px;
  height: 33px;
  padding-top: 10px;
  background: url('../images/language-frame.png') 0 0 no-repeat;
  color: #63c6ff;
  text-align: center;
}
header .language li a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #424242;
  margin-top: 10px;
}
header .language li a::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #dadada;
  bottom: 0;
  left: 0;
  content: '';
}
header .language li + li {
  margin-left: 8px;
}
header .language + .regions {
  margin-left: 30px;
}
header .regions {
  position: relative;
  float: left;
  height: 32px;
  padding-top: 39px;
  padding-left: 40px;
}
header .regions .item > a {
  position: relative;
  display: inline-block;
  font-size: 12px;
  line-height: 15px;
  padding-top: 8.5px;
  color: #848484;
  text-decoration: underline;
  z-index: 4;
}
header .regions .item > a::before {
  position: absolute;
  top: 0;
  left: -40px;
  content: '';
  width: 32px;
  height: 32px;
  background: url(../images/regional-offices.png) 0 0 no-repeat;
}
header .regions .item:hover > a {
  color: #fff;
}
header .regions .item:hover .filials {
  display: block;
}
header .regions .filials {
  display: none;
  width: 330px;
  position: absolute;
  top: 0;
  left: -15px;
  padding-top: 88px;
  background: rgba(55, 55, 55, 0.95);
  z-index: 3;
  border-top: 3px solid #63c6ff;
}
header .regions .filials li {
  padding: 9px 16px 14px;
  border-top: 1px solid #545454;
}
header .regions .filials li span {
  display: block;
  font-weight: bold;
  font-size: 10px;
  line-height: 28px;
  text-transform: uppercase;
  color: #fff;
}
header .regions .filials li strong {
  display: block;
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  color: #63c6ff;
}
header .regions .filials li small {
  display: block;
  font-size: 11px;
  line-height: 20px;
  font-family: Arial, Georgia, 'Times New Roman', Times, FreeSerif, serif;
  color: #d2dde4;
}
header form {
  box-sizing: border-box;
  position: absolute;
  top: 37px;
  right: 0;
  width: 320px;
  height: 36px;
  padding-top: 0px;
  padding-left: 14px;
  border-radius: 20px;
  border: 1px solid #dcdcdc;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#efefef+0,ffffff+20 */
  background: #efefef;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #efefef 0%, #ffffff 20%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#ffffff', GradientType=0);
  /* IE6-9 */
}
header form input {
  width: 270px;
  padding: 8px 0 11px;
  font-size: 13px;
  line-height: 15px;
  color: #b3b3b3;
  border: none;
  background-color: transparent !important;
  border: none !important;
  /* Firefox 19+ */
  /* Firefox 18- */
}
header form input::-webkit-input-placeholder {
  color: #b3b3b3;
}
header form input::-moz-placeholder {
  color: #b3b3b3;
}
header form input:-moz-placeholder {
  color: #b3b3b3;
}
header form input:-ms-input-placeholder {
  color: #b3b3b3;
}
header form button {
  position: absolute;
  top: 11px;
  right: 12px;
  width: 15px;
  height: 14px;
  background: url(../../images/search-button.png) 0 0 no-repeat;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
}
nav {
  position: relative;
  height: 50px;
  background-color: #424242;
}
nav::after {
  position: absolute;
  content: '';
  height: 50px;
  left: 0;
  right: 50%;
  top: 0;
  background-color: #63c6ff;
  z-index: 1;
}
nav::before {
  position: absolute;
  height: 50px;
  left: 0;
  right: 0;
  top: 50px;
  background-color: #fff;
  z-index: 1;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
nav.hovered::before {
  content: '';
}
nav ul {
  box-sizing: border-box;
  position: relative;
  width: 1200px;
  height: 50px;
  margin: 0 auto 0;
  padding-top: 20px;
  background-color: #63c6ff;
  z-index: 2;
}
nav ul:after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
nav ul li {
  position: relative;
  float: left;
  font-size: 12px;
}
nav ul li a {
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}
nav ul li:not(.feedback-link) a::after {
  position: absolute;
  border: 6px solid #fff;
  border-top-width: 0;
  width: 0;
  height: 0;
  border-left-color: transparent;
  border-right-color: transparent;
  bottom: -19px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
nav ul li + li {
  margin-left: 39px;
}
nav ul li + li::before {
  content: '';
  position: absolute;
  width: 1px;
  top: -5px;
  left: -19px;
  height: 20px;
  background-color: #88d4ff;
}
nav ul li.feedback-link {
  position: absolute;
  height: 50px;
  padding-left: 28px;
  padding-right: 10px;
  right: 0;
  top: 0;
  background-color: #424242;
}
nav ul li.feedback-link a {
  position: relative;
  top: 19px;
  text-transform: none;
  font-weight: normal;
  font-size: 13px;
  color: #ececec;
}
nav ul li.feedback-link a::before {
  position: absolute;
  content: '';
  width: 12px;
  height: 11px;
  top: 0;
  left: -18px;
  background: url(../../images/feedback-icon.png) 0 0 no-repeat;
}
nav ul li.feedback-link a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #7c7c7c;
}
nav ul li.feedback-link::before {
  display: none;
}
nav ul li.feedback-link::after {
  position: absolute;
  content: '';
  width: 21px;
  height: 50px;
  top: 0;
  left: -21px;
  background: url(../../images/feedback-corner.png) 0 0 no-repeat;
}
nav ul li.hover::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 52px;
  top: -20px;
  left: 0;
}
nav ul li.hover a {
  position: relative;
  z-index: 1;
}
nav ul li.hover a::after {
  content: '';
}
nav ul.sub-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #fff;
}
nav ul.sub-menu li::before {
  background-color: #ececec;
}
nav ul.sub-menu a {
  color: #848484;
}
nav ul.sub-menu a::after {
  display: none;
}
footer {
  background-color: #424242;
  border-bottom: 3px solid #63c6ff;
}
footer .fast-news {
  overflow: hidden;
  height: 39px;
  border-bottom: 1px solid #555;
}
footer .fast-news ul {
  display: inline-block;
  position: relative;
  padding-top: 12px;
  padding-bottom: 16px;
  font-size: 0;
}
footer .fast-news ul li {
  display: inline-block;
  padding-left: 11px;
  vertical-align: top;
}
footer .fast-news ul li:first-child {
  padding-left: 0;
}
footer .fast-news ul li a {
  position: relative;
  font-size: 13px;
  line-height: 22px;
  color: #d8d8d8;
}
footer .fast-news ul li a::after {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: #727272;
}
footer .fast-news ul li + li::before {
  display: inline-block;
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 1px;
  background-color: #63c6ff;
  top: 0;
  margin-right: 15px;
}
footer .footer-container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}
footer .footer-container:after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
footer .footer-container .copyright {
  position: absolute;
  top: 14px;
  left: 0;
  font-size: 11px;
  line-height: 22px;
  color: #acacac;
}
footer .footer-container .nav {
  float: right;
  border-right: 1px solid #555;
}
footer .footer-container .nav li {
  display: inline-block;
  padding: 14px 14px;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  border-left: 1px solid #555;
}
footer .footer-container .nav li a {
  color: inherit;
}
.breadcrumbs {
  height: 50px;
  background-color: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.breadcrumbs ul {
  width: 1200px;
  margin: 0 auto;
  font-size: 0;
}
.breadcrumbs ul li {
  position: relative;
  display: inline-block;
  line-height: 50px;
  font-family: Arial, Georgia, 'Times New Roman', Times, FreeSerif, serif;
  vertical-align: top;
}
.breadcrumbs ul li a {
  font-size: 13px;
  color: #848484;
  text-decoration: underline;
}
.breadcrumbs ul li + li {
  margin-left: 24px;
}
.breadcrumbs ul li + li::after {
  content: '';
  position: absolute;
  width: 7px;
  height: 13px;
  top: 19px;
  left: -15px;
  background: url(../images/arrow-path.png) 0 0 no-repeat;
}
.tiles {
  width: 1200px;
  margin: 0 auto;
}
.tiles ul {
  font-size: 0;
}
.tiles ul li {
  position: relative;
  width: 394px;
  min-height: 369px;
  display: inline-block;
  vertical-align: top;
}
.tiles ul li .img {
  position: relative;
  width: 394px;
  height: 369px;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}
.tiles ul li .img img {
  position: absolute;
  width: 394px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  transition: all 0.4s ease-out;
}
.tiles ul li:hover .img img {
  width: 424px;
}
.tiles ul li strong {
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 87px;
  padding-bottom: 11px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 1px solid #5d5d5d;
  letter-spacing: 5px;
}
.tiles ul li strong::before {
  position: absolute;
  content: '';
  width: 50px;
  height: 1px;
  background-color: #63c6ff;
  left: 0;
  bottom: -1px;
}
.tiles ul li span {
  position: absolute;
  font-size: 13px;
  line-height: 47px;
  left: 15px;
  bottom: 40px;
  font-family: Arial, Georgia, 'Times New Roman', Times, FreeSerif, serif;
  color: #c9c9c9;
}
.tiles ul li a {
  display: block;
  height: 40px;
  padding: 0 15px;
  background-color: #63c6ff;
  color: #fff;
  font-size: 13px;
  line-height: 40px;
  font-family: Arial, Georgia, 'Times New Roman', Times, FreeSerif, serif;
}
.tiles ul li a::after {
  display: inline-block;
  content: '';
  width: 20px;
  height: 9px;
  margin-left: 10px;
  background: url(../images/arrow.png) 0 0 no-repeat;
}
.tiles ul li::before {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40px;
  top: 184px;
  content: '';
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 50%);
}
.tiles ul li + li {
  margin-left: 9px;
}
.tiles.slider {
  position: relative;
  overflow: hidden;
  padding-top: 35px;
  padding-bottom: 439px;
  font-size: 0;
}
.tiles.slider h1 {
  display: inline-block;
  vertical-align: top;
  font-size: 42px;
  line-height: 50px;
  letter-spacing: 10px;
  margin-right: 24px;
}
.tiles.slider .prev,
.tiles.slider .next {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 5px;
  background: url(../images/slider-next-prev-but.png) 0 0 no-repeat;
  border-radius: 50%;
  cursor: pointer;
  vertical-align: top;
  overflow: hidden;
}
.tiles.slider .prev::after,
.tiles.slider .next::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  opacity: 0;
  transition: opacity 0.8s ease;
}
.tiles.slider .prev.disabled:hover,
.tiles.slider .next.disabled:hover {
  cursor: default;
  background-position: 0 0;
}
.tiles.slider .prev.disabled::after,
.tiles.slider .next.disabled::after {
  opacity: .9;
}
.tiles.slider .prev:hover,
.tiles.slider .next:hover {
  background-position: 0 -50px;
}
.tiles.slider .prev {
  left: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.tiles.slider .next {
  right: 0;
}
.tiles.slider ul {
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 0.5s ease;
}
.main header {
  position: absolute;
  width: 100%;
  background: #fff;
  z-index: 10;
}
.main header .header-wrapper {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}
.main nav {
  position: absolute;
  top: 110px;
  left: 0;
  right: 0;
  z-index: 9;
}
html,
body {
  height: 100%;
}
body {
  width: 100%;
  color: #424242;
  font-family: 'Gotham Pro', Georgia, 'Times New Roman', Times, FreeSerif, serif;
  background-color: #fff;
}
h1 {
  font-size: 58px;
  line-height: 58px;
  color: #858585;
  text-transform: uppercase;
  font-weight: 300;
}
h2 {
  font-size: 30px;
  line-height: 38px;
  color: #63c6ff;
  font-weight: 300;
}
h3 {
  font-size: 32px;
  line-height: 32px;
  color: #858585;
  font-weight: 300;
}
.slider-wrapper {
  border-top: 1px solid #ccc;
  padding-bottom: 50px;
}
.container {
  position: relative;
  padding-top: 40px;
  font-size: 0;
}
.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 400px;
  z-index: -1;
  background: #f3f3f3;
  background: linear-gradient(to bottom, #f3f3f3 0%, #ffffff 99%);
}
.container h1 {
  margin: 0 auto;
  width: 1200px;
}
.container h1 + * {
  margin-top: 44px;
}
.container h1 + h2 {
  margin-top: 17px;
}
.container h2 {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.container h2 + .tiles {
  margin-top: 25px;
}
.container .tiles ul {
  margin-bottom: 40px;
  margin-top: -9px;
  margin-left: -9px;
}
.container .tiles ul li {
  margin-left: 9px;
  margin-top: 9px;
}
.container .two-cols {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.container .two-cols:after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
.container .two-cols aside {
  float: left;
  width: 260px;
}
.container .two-cols aside * + h3 {
  margin-top: 34px;
}
.container .two-cols aside h3 + * {
  margin-top: 24px;
}
.container .two-cols aside .static-pages-menu li {
  position: relative;
  padding-left: 25px;
  font-size: 15px;
  line-height: 40px;
}
.container .two-cols aside .static-pages-menu li a {
  color: #848484;
  text-decoration: underline;
}
.container .two-cols aside .static-pages-menu li.active a {
  position: relative;
  text-decoration: none;
  color: #fff;
}
.container .two-cols aside .static-pages-menu li.active::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform: skewX(20deg);
          transform: skewX(20deg);
  background-color: #63c6ff;
}
.container .two-cols aside .aside-menu {
  position: relative;
}
.container .two-cols aside .aside-menu li a {
  position: relative;
  display: block;
  padding-left: 10px;
  padding-right: 26px;
  font-size: 13px;
  line-height: 40px;
  height: 40px;
  background-color: #414141;
  color: #b5b5b5;
  text-decoration: underline;
  transition: all .5s ease;
}
.container .two-cols aside .aside-menu li a::before {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: #545454;
}
.container .two-cols aside .aside-menu li a::after {
  position: absolute;
  width: 6px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 10px;
  height: 11px;
  background: url(../images/aside-menu-arrow.png) 0 -11px no-repeat;
}
.container .two-cols aside .aside-menu li a:hover,
.container .two-cols aside .aside-menu li .item:hover > a,
.container .two-cols aside .aside-menu li.active a {
  color: #fff;
  background-color: #63c6ff;
  text-decoration: none;
}
.container .two-cols aside .aside-menu li a:hover::after,
.container .two-cols aside .aside-menu li .item:hover > a::after,
.container .two-cols aside .aside-menu li.active a::after {
  background-position: 0 0;
}
.container .two-cols aside .aside-menu li .item > a::after {
  content: '';
}
.container .two-cols aside .aside-menu li .item:hover > .sub-menu > ul > li {
  height: 40px;
}
.container .two-cols aside .aside-menu li .sub-menu {
  position: absolute;
  width: 260px;
  left: 260px;
  top: 0;
  z-index: 10;
}
.container .two-cols aside .aside-menu li .sub-menu li {
  height: 0;
  overflow: hidden;
  transition: all 0.2s ease-out;
}
.container .two-cols aside .aside-menu li .sub-menu li a {
  background-color: #63c6ff;
  color: #fff;
  text-decoration: underline;
}
.container .two-cols aside .aside-menu li .sub-menu li a:hover {
  background-color: #44afec;
}
.container .two-cols aside .aside-menu li .sub-menu li a::before {
  background-color: #88d4ff;
}
.container .two-cols aside .aside-menu li .sub-menu li a::after {
  background-position: 0 0;
}
.container .two-cols aside .aside-menu li .sub-menu li .item::before {
  position: absolute;
  top: 0;
  left: 260px;
  bottom: 0;
  width: 260px;
  background-color: #44afec;
}
.container .two-cols aside .aside-menu li .sub-menu li .item:hover::before {
  content: '';
}
.container .two-cols aside .aside-menu li .sub-menu li .sub-menu li a {
  background-color: #44afec;
}
.container .two-cols aside .aside-menu li .sub-menu li .sub-menu li a::before {
  background-color: #6ac5f9;
}
.container .two-cols aside .aside-menu li .sub-menu a:hover,
.container .two-cols aside .aside-menu li .sub-menu .item:hover > a,
.container .two-cols aside .aside-menu li .sub-menu.active a {
  background-color: #44afec;
}
.container .two-cols aside .aside-menu li:last-child a::before {
  display: none;
}
.container .two-cols aside .aside-news > img {
  display: block;
  width: 260px;
  height: auto;
}
.container .two-cols aside .aside-news ul {
  background-color: #eef9ff;
}
.container .two-cols aside .aside-news ul li {
  padding: 17px 10px;
}
.container .two-cols aside .aside-news ul li p {
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  font-family: Arial, Georgia, 'Times New Roman', Times, FreeSerif, serif;
  color: #848484;
}
.container .two-cols aside .aside-news ul li p a {
  color: inherit;
  text-decoration: underline;
}
.container .two-cols aside .aside-news ul li span {
  display: block;
  font-size: 13px;
  line-height: 22px;
  font-family: Arial, Georgia, 'Times New Roman', Times, FreeSerif, serif;
  color: #63c6ff;
}
.container .two-cols aside .aside-news ul li + li {
  border-top: 1px solid #deecf4;
}
.container .two-cols aside .aside-news .more a {
  display: block;
  box-sizing: border-box;
  padding: 0 10px;
  height: 40px;
  font-size: 13px;
  line-height: 40px;
  font-family: Arial, Georgia, 'Times New Roman', Times, FreeSerif, serif;
  background-color: #63c6ff;
  color: #fff;
}
.container .two-cols aside .aside-news .more a::after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 9px;
  margin-left: 9px;
  background: url(../images/arrow.png) 0 0 no-repeat;
}
.container .two-cols article {
  width: 900px;
  float: right;
  font-size: 13px;
  line-height: 22px;
  font-family: Arial, Georgia, 'Times New Roman', Times, FreeSerif, serif;
  color: #797979;
}
.container .two-cols article h2 {
  position: relative;
  font-size: 40px;
  line-height: 40px;
  font-family: 'Gotham Pro', Georgia, 'Times New Roman', Times, FreeSerif, serif;
  padding-bottom: 23px;
  width: auto;
  border-bottom: 1px solid #e5e5e5;
}
.container .two-cols article h2::after {
  content: '';
  width: 408px;
  height: 1px;
  position: absolute;
  bottom: -1px;
  left: 0;
  background-color: #63c6ff;
}
.container .two-cols article h3 {
  font-size: 30px;
  line-height: 30px;
  font-family: 'Gotham Pro', Georgia, 'Times New Roman', Times, FreeSerif, serif;
}
.container .two-cols article * + * {
  margin-top: 16px;
}
.container .two-cols article ul li {
  padding-left: 20px;
  background: url(../images/bullet.png) 0 9px no-repeat;
}
.container .two-cols article .print {
  display: inline-block;
  line-height: 25px;
  padding-left: 34px;
  background: url(../images/print.png) 0 0 no-repeat;
}
.container .two-cols.to-right aside {
  float: right;
}
.container .two-cols.to-right article {
  float: left;
}
.container + footer,
.container + .slider-wrapper {
  margin-top: 50px;
}
